# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Scraper cache
data_cache.json
data_scraped.json

# Vector Database
chroma_db/

# Python
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/
